img{
    width: 60%;
}

.user-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-card {
    max-width: 300px;
  }