<div class="container">
  <div *ngIf="products">
    <h4>My cart: {{products.length}}</h4>
    <!--<div class="col-md-9 jumbotron rounded border border-primary shadow p-2 mb-4" *ngFor="let item of products">
      <div class="row">
        <div class="col-md-2">
          <img src="../../../assets/bag/baglittle.png" />
        </div>
        <div class="itemdetails col col-md-4">
          <ul>
            <li><b>{{item.name}}</b></li>
            <li> <span class="font-weight-light">{{item.code}}</span></li>
            <li> <b>{{item.price | currency:'INR'}}</b></li>
          </ul>
          <button class="btn btn-danger">Remove</button>
          <button class="btn">Add to wishlist</button>
        </div>
      </div>
    </div>-->
    <div class="card row" *ngFor="let item of products">
      <div class="col col-md-10">
        <div class="row">
          <div class="col-md-2">
            <img src="../../../assets/bag/baglittle.png" />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{item.size}}</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
              <a href="#" class="card-link">Remove</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 sidebar-sticky sticky-top">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Details</h5>
            <p class="card-text">Price:<span>1200</span></p>
            <p class="card-text">Total amount:<span>1200</span></p>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-md-3 sidebar-sticky sticky-top">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <p class="card-text">Price:<span>1200</span></p>
          <p class="card-text">Total amount:<span>1200</span></p>
        </div>
      </div>
    </div>-->
  </div>
  <div *ngIf="products.length==0">
    <p>My cart: 0</p>
    <div class="card">
      <div class="card-body">
        <p class="card-text">No items in card</p>
        <a href="#" class="card-link">Continue Shopping...</a>
      </div>
    </div>
  </div>
</div>