<!--<div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>#f7f6f6
        </div>-->
<div class="modal-header">
  <h2 class="form-signin-heading ">Sign in!</h2>
  <button type="button" class="close" aria-label="Close" (click)="ngbActive.dismiss('User closed')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-8">
      <form class="form-signin" (submit)="login()">
        <div class="form-group row justify-content-center">
          <div class="col-sm-11">
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address"
              [(ngModel)]="credentials.username">
          </div>
        </div>
        <div class="form-group row justify-content-center ">
          <div class="col-sm-11">
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
              [(ngModel)]="credentials.password">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-11">
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div>Dont't have an account? <a href="#">Sign Up</a></div>
</div>