<div class="modal-header">
  <h2 class="form-signin-heading ">Sign in!</h2>
  <button type="button" class="close" aria-label="Close" (click)="ngbActive.dismiss('User closed')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
      <form #signinForm="ngForm" class="form-signin" (ngSubmit)="saveUser(signinForm.value)">
        <div class="form-group row justify-content-center">
          <div class="col-sm-7">
            <input #firstname="ngModel" name="firstname" type="text" id="firstname" class="form-control" placeholder="First Name"
              required [(ngModel)]="user.firstname">
            <div *ngIf="firstname.touched && firstname.invalid" class="alert alert-danger">
              Firstname is required
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-7">
            <input #lastname="ngModel" name="lastname" type="text" id="lastname" class="form-control" placeholder="Last Name"
              required [(ngModel)]="user.lastname">
            <div *ngIf="lastname.touched && lastname.invalid" class="alert alert-danger">
              Lastname is required
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-7">
            <input #tel="ngModel" name="phonenum" type="tel" id="phonenum" class="form-control" placeholder="Phone Number"
              required [(ngModel)]="user.phonenum" [pattern]="phPattern">
            <div *ngIf="tel.touched && tel.invalid" class="alert alert-danger">
              <span *ngIf="tel.errors.pattern">
                Phone is invalid
              </span>
              <span *ngIf="tel.errors.required">
                Phone is required
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-7">
            <input #email="ngModel" name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
              required [(ngModel)]="user.email" [pattern]="emailPattern">
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
              <span *ngIf="email.errors.pattern">
                Email is invalid
              </span>
              <span *ngIf="email.errors.required">
                Email is required
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center ">
          <div class="col-sm-7">
            <input #password="ngModel" minlength="8" name="password" type="password" id="inputPassword" class="form-control"
              placeholder="Password" required [(ngModel)]="user.password">
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
              <span *ngIf="password.errors.minlength">
                Password must be at least 8 chars
              </span>
              <span *ngIf="password.errors.required">
                Password is required
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-7">
            <button [disabled]="!signinForm.valid" class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
            <button class="btn btn-lg btn-secondary btn-block" type="reset">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div>Have an account already? <a href="#">Sign In</a></div>
</div>