<!--<div class="modal-header">
  <h2 class="form-signin-heading ">Sign in!</h2>
  <button type="button" class="close" aria-label="Close" (click)="ngbActive.dismiss('User closed')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-12">
      <form #signinForm="ngForm" class="form-signin" (ngSubmit)="saveUser(signinForm.value)">
        <div class="form-group row justify-content-center">
          <div class="col-sm-7">
            <input #firstname="ngModel" name="firstname" type="text" id="firstname" class="form-control" placeholder="First Name"
              required [(ngModel)]="user.firstname">
            <div *ngIf="firstname.touched && firstname.invalid" class="alert alert-danger">
              Firstname is required
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-7">
            <input #lastname="ngModel" name="lastname" type="text" id="lastname" class="form-control" placeholder="Last Name"
              required [(ngModel)]="user.lastname">
            <div *ngIf="lastname.touched && lastname.invalid" class="alert alert-danger">
              Lastname is required
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-7">
            <input #tel="ngModel" name="phonenum" type="tel" id="phonenum" class="form-control" placeholder="Phone Number"
              required [(ngModel)]="user.phonenum" [pattern]="phPattern">
            <div *ngIf="tel.touched && tel.invalid" class="alert alert-danger">
              <span *ngIf="tel.errors.pattern">
                Phone is invalid
              </span>
              <span *ngIf="tel.errors.required">
                Phone is required
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-7">
            <input #email="ngModel" name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
              required [(ngModel)]="user.email" [pattern]="emailPattern">
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
              <span *ngIf="email.errors.pattern">
                Email is invalid
              </span>
              <span *ngIf="email.errors.required">
                Email is required
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center ">
          <div class="col-sm-7">
            <input #password="ngModel" minlength="8" name="password" type="password" id="inputPassword" class="form-control"
              placeholder="Password" required [(ngModel)]="user.password">
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
              <span *ngIf="password.errors.minlength">
                Password must be at least 8 chars
              </span>
              <span *ngIf="password.errors.required">
                Password is required
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-7">
            <button [disabled]="!signinForm.valid" class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
            <button class="btn btn-lg btn-secondary btn-block" type="reset">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div>Have an account already? <a href="#">Sign In</a></div>
</div>-->
<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile class="side-block" colspan="3" rowspan="5">
    <ol class="list-unstyled">
      <li><b>Signup</b></li>
      <li>
        <p>Get access to your wishlist, cart</p>
      </li>
    </ol>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="5">
    <form [formGroup]="signinForm" class="form-signin" (ngSubmit)="saveUser(signinForm.value)">
      <mat-dialog-content>
        <ul class="list-unstyled">
          <li>
            <mat-form-field>
              <input matInput placeholder="First Name" [formControl]="firstname" required>
              <mat-error *ngIf="firstname.invalid">{{getError()}}</mat-error>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput placeholder="Last Name" [formControl]="lastname" required>
              <mat-error *ngIf="lastname.invalid">{{getError()}}</mat-error>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput placeholder="Phone Number" [formControl]="phonenum" required>
              <mat-error *ngIf="phonenum.invalid">{{getPhError()}}</mat-error>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput placeholder="Email" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getError()}}</mat-error>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" [formControl]="password" required>
              <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input type="password" matInput placeholder="Re-enter Password" [formControl]="repassword" required>
              <mat-error *ngIf="repassword.invalid">{{getrePasswordError()}}</mat-error>
            </mat-form-field>
          </li>
        </ul>
      </mat-dialog-content>
      <mat-dialog-actions>
        <ol class="list-unstyled">
            <li><button [disabled]= "!signinForm.valid" type="submit" mat-raised-button color="accent">Sign In</button></li>
            <li>Already a member? <a (click)="openLogin()">Sign in</a></li>
          </ol>
      </mat-dialog-actions>
    </form>
  </mat-grid-tile>
</mat-grid-list>