/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

.container {
  margin-top: 10%;
  margin-bottom: 5%;
}

.footer {
  margin-top: 5rem;
  color: black;
  background-color: #e8e7e7;
}

.facebook {
  color: #13138a;
}

.twitter {
  color: deepskyblue;
}

.youtube,
.google {
  color: #da0404;
}

.navbar {
  background-color: #28a745;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
  color: rgb(255, 255, 255);
}

.footer>div{
  padding: 10px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}