<div id="wowCarousel" class="carousel slide" data-ride="carousel">
  <ngb-carousel *ngIf="images">
    <ng-template *ngFor="let img of images" ngbSlide>
      <img [src]="img" alt="Random first slide">
    </ng-template>
  </ngb-carousel>
</div>
<div id="wowBagCarousel" class="carousel slide" data-ride="carousel">
    <div>
        <h5>Bags</h5>
        <a href="#">VIEW ALL</a>
      </div>
  <ngb-carousel *ngIf="products">

    <ng-template ngbSlide>
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile *ngFor="let product of products | slice:0:5" colspan="1" rowspan="5">
          <app-product [product]=product></app-product>
        </mat-grid-tile>
      </mat-grid-list>

    </ng-template>
    <ng-template ngbSlide>
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile *ngFor="let product of products | slice:5:10" colspan="1" rowspan="5">
          <app-product [product]=product></app-product>
        </mat-grid-tile>
      </mat-grid-list>

    </ng-template>
  </ngb-carousel>
</div>

<div id="wowPouchesCarousel" class="carousel slide" data-ride="carousel">
    <div>
        <h5>Pouches</h5>
        <a href="#">VIEW ALL</a>
      </div>
  <ngb-carousel *ngIf="products">

    <ng-template ngbSlide>
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile *ngFor="let product of products | slice:0:5" colspan="1" rowspan="5">
          <app-product [product]=product></app-product>
        </mat-grid-tile>
      </mat-grid-list>

    </ng-template>
    <ng-template ngbSlide>
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile *ngFor="let product of products | slice:5:10" colspan="1" rowspan="5">
          <app-product [product]=product></app-product>
        </mat-grid-tile>
      </mat-grid-list>

    </ng-template>
  </ngb-carousel>
</div>


<div id="wowStoleCarousel" class="carousel slide" data-ride="carousel">
  <div>
    <h5>Stoles</h5>
    <a href="#">VIEW ALL</a>
  </div>

  <ngb-carousel *ngIf="products">

    <ng-template ngbSlide>
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile *ngFor="let product of products | slice:0:5" colspan="1" rowspan="5">
          <app-product [product]=product></app-product>
        </mat-grid-tile>
      </mat-grid-list>

    </ng-template>
    <ng-template ngbSlide>
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile *ngFor="let product of products | slice:5:10" colspan="1" rowspan="5">
          <app-product [product]=product></app-product>
        </mat-grid-tile>
      </mat-grid-list>

    </ng-template>
  </ngb-carousel>
</div>